<!DOCTYPE html>
<html>
<head>
    <title>Foods from {{ area }}</title>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>Foods from {{ area }}</h1>
    {%if meals %}
        <p>Choose a meal to see recipe details.</p>
    
        {% for meal in meals %}
            <div class="container mb-4">
                <div class="card mt-4">
                    <div class="card-body" style="background-color: aliceblue;">
                        <div style="display: inline-block">
                            <img src="{{ meal.strMealThumb }}" class="img-thumbnail" width="50%"/>
                        </div>

                        <span style="display: inline-block; text-align: center;">
                            <h3>{{ meal.strMeal }}</h3>
                            <h3>Culture: {{ meal.strArea }}</h3>
                            <a href="{{url_for('recipe', meal_id=meal.idMeal)}}" 
                            style= "color: white;" class="btn btn-info"
                            >View Recipe</a>
                        </span>
                        
                        <br>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No meals available</p>
    {% endif %}

    
    <p>
        <div class="container mb-4">
            <div class="card mt-4">
                <div class="card-body"  style="background-color: aliceblue;">
                    <a href="{{url_for('home')}}" style="color: white;"
                    class="btn btn-info"
                    >Go Back</a>
                    <br>
                </div>
            </div>
        </div>
    </p>

</body>
</html>
