<!DOCTYPE html>
<html>
<head>
    <title>Culture and Food Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wheel.css') }}">
</head>
<body>

    <h1>Culture and Food Finder</h1>

    <p>Choose a culture to see foods from that area.</p>

    <img src="{{ static/images/food.jpg}}" width="45%">

    <form action="/foods" method="post">
        <p>
            Select a culture:
            <div id="wheel-container">
                <div id="wheel">
                    {% for area in areas %}
                        <div class="option" data-value="{{ area }}">{{ area }}</div>
                    {% endfor %}
                </div>
            </div>
            <button type="button" id="spin">Spin Random</button>
            <input type="hidden" name="area" id="selected-area">
        </p>

        <p>
            <input type="submit" value="Show Foods">
        </p>
    </form>

    <script src="{{ url_for('static', filename='js/wheel.js') }}"></script>
</body>
</html>
