<!DOCTYPE html>
<html>
<head>
    <title>{{ meal.strMeal }}</title>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>{{ meal.strMeal }}</h1>

    <h3>Culture: {{ meal.strArea }}</h3>
    <h3>Category: {{ meal.strCategory }}</h3>

    <img src="{{ meal.strMealThumb }}" width="300">
    <h2>Ingredients</h2>

    {%for index in range (1,21)%}
        {%if meal['strIngredient' ~ index] %}
            <p>{{ meal['strIngredient' ~ index] }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ meal['strMeasure' ~ index] }}</p>
        {% endif %}
    {% endfor %}
    <h2>Instructions</h2>

    {% for line in instructions %}
        <p>{{ line }}</p>
    {% endfor %}

    {% if meal.strYoutube %}
        <p>
            <a href="{{ meal.strYoutube }}" style="color: white;"
                class="btn btn-info" >Watch Recipe Video</a>
        </p>
    {% endif %}

    {% if meal.strSource %}
        <p>
            <a href="{{ meal.strSource }}" style="color: white;"
                class="btn btn-info" >Recipe Source</a>
        </p>
    {% endif %}

    <p>
        <a href="{{ url_for('home') }}" style="color: white;"
            class="btn btn-info" >Back to Home</a>
    </p>

</body>
</html>
